<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload Your Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <main>
        <div class="upload-resume">
            <h2>Upload Your Resume</h2>
            <section class="upload-section">
                <form form class="upload-form" action="{{ url_for('upload_resume') }}" method="post"
                    enctype="multipart/form-data">
                    <label for="resume">Select your resume file:</label>
                    <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx" required>
                    <button type="submit">Submit</button>
                </form>
            </section>
            <a href="{{ url_for('home') }}" class="back-button">Back to Home</a>
        </div>>
    </main>
</body>

</html>